@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid; */
}

/* In your CSS file or a <style> tag */
.hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
